<div class="dut-header">
    <div class="dut-header__bd">
        <div class="dut-header__prop">
            {% include: 'includes/dut-appname.html' %}
        </div>
        <div class="dut-header__options">
            <a class="dut-header__help" href="/" title="Link to Application Help"><img src="img/ic_help_white_24px.svg" alt="Help Icon" width="24px" />
            </a>
            <span class="dut-header__seperator"> | </span>
            <a class="dut-header__opencontrols" role="button" data-behavior="toggle-popover" data-target="popover-profile" title="Open User Controls" href="#popover-profile">
                <span class="dut-header__name">Michael McGuinness</span>

                <img src="img/ic_account_circle_white_24px.svg" alt="User Icon" width="24px" />
                <img src="img/ic_expand_more_white_24px.svg" alt="Expand User Controls" width="24px" />
            </a>
            {% include: 'includes/dut-popover.profile.html' %}
        </div>
    </div>
</div>