<div class="dut-global-access">
  <ul class="dut-global-access__list">
    <li class="dut-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-notifications" type="button" title="Notifications" class="dut-icon-TEMP">Notifications</button>
      {% include: 'includes/dut-popover.notifications.html' %}
    </li>
    <li class="dut-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-settings" type="button" title="Settings" class="dut-icon-TEMP">Settings</button>
      {% include: 'includes/dut-popover.settings.html' %}
    </li>
    <li class="dut-global-access__list-item">
      <button data-behavior="toggle-popover" data-target="popover-profile" type="button" title="Profile" class="dut-icon-TEMP">Profile</button>
      {% include: 'includes/dut-popover.profile.html' %}
    </li>
  </ul>
</div>
