<div class="dut-header">
    <div class="dut-header__bd">
        <div class="dut-header__prop">
            {% include: 'includes/dut-brand.html' %}
        </div>
        <div class="dut-header__options">
            <div class="dut-header__help">
                <a class="" href="/" title="Link to Application Help"><img src="img/ic_help_white_18px.svg" alt="Help Icon" width="18px" /></a>
            </div>
            
                <a class="dut-header__opencontrols" role="button" data-behavior="toggle-popover" data-target="popover-profile" title="Open User Controls" href="#popover-profile">
                    <div class="dut-header__name">Michael McGuinness</div>
                    <img src="img/ic_account_circle_white_24px.svg" alt="User Icon" width="24px" /><span class="dut-header__arrow"><img src="img/ic_expand_more_white_24px.svg" alt="Expand User Controls" width="24px" /></span></a>
            {% include: 'includes/dut-popover.profile.html' %}
        </div>
    </div>
</div>