.dut-button-demo {
    
    
    
    margin-top: $size-default; 
    
    &__section {

        
        display: inline-block;
        overflow: hidden;
        
        @include breakpoint(L) {
            display: inline;
            
        }
    }
    
    &__popup {
        
        border: solid 1px $color-fsa-tertiary-900;
        padding: $size-default;
        width: $size-base * 100;
    }
    &__popup-header {
        margin-bottom: $size-small;
        text-align: right;
    }
    
    &__cancel-link{
        margin-left: $size-default;
        margin-right: $size-default;
    }
    
    &__form {
        display: inline-block;
        
    }
    
    &__input{
        
        margin: $size-small;
    }
}