{% include: 'includes/html.html' %} {% include: 'includes/head.html' @title:'FSA Usability Guide' %}

<body>

    {% include: 'includes/fsa-browser-upgrade.html' %} {% include: 'includes/skipnav.html' %} {% include: 'includes/dut-global-header.html' %}

    <header>
        {% include: 'includes/dut-header.html' %} {% include: 'includes/dut-topnav.html' %}
    </header>

    <main id="main-content" tabindex="-1">

        <div class="dut-section">

            <div class="dut-section__bd">


                <h1>Button Style &amp; Nomenclature</h1>
                <p class="fsa-text--lead">The below buttons are the various options available for use in the FSA Design System.</p>
            </div>

        </div>
        {% include: 'includes/dut-buttons.html' %}

        
        {% include: 'includes/dut-screen-id.html' %}

    </main>

    <footer>
        {% include: 'includes/dut-footer.html' %}
    </footer>
    {% include: 'includes/scripts.html' %}
</body>

</html>