{% include: 'includes/html.html' %} {% include: 'includes/head.html' @title:'FSA Usability Guide' %}

<body>

    {% include: 'includes/fsa-browser-upgrade.html' %} {% include: 'includes/skipnav.html' %} {% include: 'includes/dut-global-header.html' %}

    <header>
        {% include: 'includes/dut-header.html' %} {% include: 'includes/dut-topnav.html' %}
    </header>

    <main id="main-content" tabindex="-1">

        <div class="dut-section">

            <div class="dut-section__bd">


                <h1>Button Style &amp; Nomenclature</h1>
                <p class="fsa-text--lead">The below buttons are the various options available for use in the FSA Design System.</p>
            </div>

        </div>
        {% include: 'includes/dut-buttons.html' %}
        
        <div class="dut-section">
      <div class="dut-section__bd">
        <h2>Light Section</h2>
        <div class="fsa-grid">
          <div class="fsa-grid__1 fsa-grid__4/12@l">
            <h3 class="fsa-m-t--none">Third-level head</h3>
            <p>Consequuntur aspernatur explicabo, sequi necessitatibus veritatis veniam molestias autem eum voluptatum, rerum nesciunt hic delectus.</p>
            <p>Labore aperiam, nostrum quae repellat aliquid hic deleniti consequatur enim nam dolorem cupiditate quis? Rem, maxime, quis. Dolorem dicta dolorum, error quo.</p>
          </div>
          <div class="fsa-grid__1 fsa-grid__4/12@l">
            <h3 class="fsa-m-t--none">Third-level head</h3>
            <p>Lab, nostrum quae repellat aliquid hic deleniti consequatur enim nam dolorem cupiditate quis? Rem, maxime, quis. Dolorem dicta dolorum, error quo.</p>
            <p>Dolor ab, odit consectetur unde praesentium. Inventore libero veritatis porro veniam, explicabo, quis in, eaque possimus, unde dolor maxime ducimus. Quasi, obcaecati?</p>
          </div>
          <div class="fsa-grid__1 fsa-grid__4/12@l">
            <h3 class="fsa-m-t--none">Third-level head</h3>
            <p>Consequuntur molestias autem eum voluptatum, rerum nesciunt hic delectus.</p>
            <p>Labore aperiam, nostrum quae repellat aliquid hic deleniti consequatur enim nam dolorem cupiditate quis? Rem, maxime, quis. Dolorem dicta dolorum, error quo.</p>
          </div>
        </div>
      </div>
    </div>
        
    </main>
    <footer>
        {% include: 'includes/dut-footer.html' %}
    </footer>
    {% include: 'includes/scripts.html' %}
</body>

</html>