{% include: 'includes/html.html' %}

{% include: 'includes/head.html' @title:'Markets' %}

<body class="dut-app">

  {% include: 'includes/fsa-browser-upgrade.html' %}

  {% include: 'includes/skipnav.html' %}

  {% include: 'includes/fsa-disclaimer.html' %}

  <header>
    {% include: 'includes/dut-header.html' %}
  </header>

  <main id="main-content" tabindex="-1">

    <div class="dut-section">

      <div class="dut-section__bd">

        <h1>Page Title</h1>
        <p class="fsa-text--lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <h2>Second-level head</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti quas cupiditate, dolore eligendi facere quia porro atque placeat alias est perspiciatis nulla, explicabo repellat cum? </p>
        <p>Autem sunt nesciunt ut nihil officiis dolor earum fugit atque itaque, aperiam recusandae id ipsa sed! </p>
        <p>Unde autem ad harum consequuntur natus!</p>

      </div>

    </div>

  </main>

  <footer>
    {% include: 'includes/dut-footer-TEMP.html' %}
  </footer>

  {% include: 'includes/scripts.html' %}

</body>

</html>
